p{
    font-style: italic;
}
#myDiv{
    height: 400px;
    width: 400px;
    border: 10px black ridge;
    background-color: aqua;

}

 img{
    /* position: relative;
    top: 20px;
    left: 100px;  */
/* 
position: absolute;
top: 20px;
left: 100px; */

/* position: fixed;
top: 20px;
left: 100px; */

/* position: sticky;
top: 100px;
left:100px; */

 }
